*{
    padding: 0;
    margin: 0;
}
.header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images_2/wall4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 30px;
    text-align: center;
    color: #fff;
}
.header img{
    width: 250px;
    float: left;
}
.login-btn{
    width: 100px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid goldenrod;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
}
.header h1{
    padding-top: 350px;
    padding-bottom: 0;
    font-size: 55px;
}
.header p{
    margin: 18px 0;
}
.input-group{
    width: 90% !important;
    max-width: 500px;
    border-radius: 30px;
    background: lightgray;
    margin: auto;
    padding: 2px;
}
.form-control{
    border: 0 !important;
    border-radius: 30px 0 0 30px !important;
    margin: 2px;
    box-shadow: none !important;
}
.input-group-text{
    width: 100px;
    background-image: linear-gradient(#bc8c1b,#807b1e);
    border: 0 !important;
    color: #fff !important;
    padding: 0 25px;
    border-radius: 30px !important;
    box-shadow: none !important;
}
/*------- features -------*/
.features{
    padding: 100px 0;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.feature-img img{
    width: 100%;
}
.cost{
    width: 50px;
    height: 50px;
    background: #bc8c1b;
    color: white;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214,0.18);
    position: absolute;
    left: 20px;
    bottom: -50px;
}
.feature-img{
    position: relative;
}
.rating{
    padding: 3px;
    float: right;
    background: white;
    bottom: -1px;
    right: 20;
    position: absolute;
}
.features .fa{
    font-size: 15px;
    color: #bc8c1b;
}
.feature-details{
    padding: 30px;
    text-align:justify; 
}
.feature-details h4{
    font-weight: 600;
    margin-top: 20px;
}
.feature-details .fa{
    margin-right: 4px;
}
.feature-box{
    box-shadow: 0 0 10px 1px rgba(30, 31, 27, 0.18);
    margin-bottom: 30px;
}
/*------- gallery -------*/
.gallery{
    padding: 100px 0; 
    background: rgb(226, 224, 208);}
.gallery-box{
    position: relative; 
    margin-bottom: 30px;}
.gallery-box img{
    width: 100%; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: 1s;}
.gallery-box img:hover{
    transform: scale(1.2);}
.gallery-box h4{
    display: block; 
    text-align: center; 
    font-weight: 600; 
    font-size: 26px; 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    color: white; 
    transform: translate(-50%, -50%); 
    text-shadow: -2px 2px 2px grey;}

/*------- slogan -------*/
.slogan{
    height: 80vh; 
    padding-top: 13%;
    background-image: url(images_2/pic4.jpg);
    background-position: center;
    background-size: cover;
}
.slogan-1{
    padding: 80px 0;
    background: rgba(255, 250, 250, 0.665);
    text-align: center;
    color: black;
}
.book-btn{
    width: 150px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid goldenrod;
    border-radius: 50px;
    background: transparent;
    color: black;
    font-weight: 600;
    margin-top: 10%;
}
/*-------- Review --------*/
.reviews{
    padding: 5%;
}
.c-review{
    text-align: center;
    box-shadow: 0 0 10px 0 grey;
    padding-bottom: 10%;
}
.c-review p{
    padding: 50px 10px 10px 10px;
}
.reviews img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: relative;
    margin: -30px 0 20px 40%;
}
.c-review p::before{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 80px;
    color: #bc8c1b;
    left: 44%;
    top: -20px;
    font-family: monospace;
}
/*------- footer ------*/
.footer{
    padding: 100px 20px;
    background-image: linear-gradient(#042791, #0fd2d8);
    color: white;
}
.footer-logo{
    width: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer p{
    font-size: 16px;
    text-align: justify;
    padding-right: 30px;
}
.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
@media (max-width:770px){
    .header img{
        width: 150px;
        float: left;}
    .login-btn{
        width: 80px;}
    .header h1{
        font-size: 28px;}
    .header p{
        font-size: 10px;
    }
    .features h1{
        font-size: 30px;
    }
    .gallery h1{
        font-size: 30px;
    }
    .reviews h1{
        font-size: 30px;
    }
}