movie_app/images/*
movie_app/play_*/*
ecommerce/gym_items_website/images/*
ecommerce/flora_website/images/*
restaurant_website/images/*
ecommerce/furniture_website/images/*
ecommerce/fashion_website/images/*
ecommerce/fashion_website/pages/images*
donation_website/images*